<mat-toolbar color="primary">

  <div class="toolbar-tools">

    <span style="padding-top: 3px;" class="pull-right">Predictive energy Instruments</span>
    <div class="filler"></div>
    <ng-container *ngIf="(authService.pictureUrl$ | async) as pictureUrl">
      <span> {{(authService.authState$ | async)?.displayName}}</span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="authService.logout()" *ngIf="authService.isLoggedIn$ | async">Logout</button>
      </mat-menu>
      <img style="padding-left: 10px;" class="user-avatar" [src]="pictureUrl">
    </ng-container>

  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="mat-align-tabs" *ngIf="authService.isLoggedIn$ | async" style="height:60px ;">
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    <div>
      <span style="display: block;align-items: center" class="material-icons">
        {{link.icon}}
      </span>
      <span style="display: block; align-items: center;">{{link.name}}</span>
    </div>

  </a>
</nav>


<router-outlet></router-outlet>
